<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"> 
    <link rel="stylesheet" href="/stylesheets/city.css">
    <title>Hyderabad</title>
</head>
<body>
    <section class="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">TripTok</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
          </ul>
		  <div class="nav navbar-nav navbar-right">
             <li><a href="#"><span class="glyphicon glyphicon-user"></span><%= username %></a></li>
          </div>
        </div>
      </nav>
    </section>
     <% /* %>
    <table>
    <tr>
        <th>S. No</th>
        <th>Hostel Name</th>
        <th>Hostel Address</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>No. of Rooms</th>
        <th>No. of Rooms vacant</th>
        <th>Email</th>
        <th>Rent</th>
    </tr>
    <% if(hostels.length > 0) { %>
        <% for(var i = 0;i<hostels.length;i++) { %> 
            <tr>
                <td><%- hostels[i].hostel_id %></td>
                <td><%- hostels[i].name %></td>
                <td><%- hostels[i].address %></td>
                <td><%- hostels[i].city %></td>
                <td><%- hostels[i].state %></td>
                <td><%- hostels[i].pincode %></td>
                <td><%- hostels[i].numberofRooms %></td>
                <td><%- hostels[i].numberofRoomsVacant %></td>
                <td><%- hostels[i].email_address %></td>
                <td><%- hostels[i].rent %></td>
            </tr>

            <% } %>

            <% } else{ %>

                <tr>
                    <td>Data Not Found</td>
                </tr>
                
            <% } %>
        </table> 
        <% */ %>
        <% if(hostels && hostels.length > 0) { %>
            <div class="container">
         <% for( var i = 0;i<hostels.length;i++){ %>
            <div class="card row" style="width: 90%;">
                <img src="/images/hoscover1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%- hostels[i].name %></h5>
                  <p class="card-text"><%- hostels[i].address %></p>
                  <p class="card-text"><%- hostels[i].city %></p>
                  <p class="card-text"><%- hostels[i].state %></p>
                  <p class="card-text"><%- hostels[i].address %></p>
                  <p class="card-text"><%- hostels[i].rent %></p>
                  <p id="email_<%- i %>"class="card-text"><%- hostels[i].email_address %></p>
                  <button onclick="reserveHostel(event)" id="<%- i %>" class="btn btn-primary">Reserve</button>
                </div>
              </div>
              <% } %>
            </div>
            <% } else{ %>

                
                <h2>Data Not Found</h2>
                
            <% } %> 
            <section class="footer">
                <div class="container">
                <div class="row">
                    <div class="col-md-3">
                    <img src="/images/triptok.png" class="footer-logo">
                    <p> Most efficient way to connet tenet and house owner.</p>
                        
                    <p> Available at multiple locations </p>
            
                    <p> Easy to use 
            
            
                    </p>
                    </div>
                    <div class="col-md-3">
                    <h4>LOCATIONS</h4>
                    <p>
                        Pune  Mumbai</p>
                    <p> Delhi Banglore</p>
                    <p> Nashik Chennai
                    </p>
                </div>
                   <div class="col-md-3">
                    <h4>Countact us </h4>
                    <p><i class="fa fa-phone-square"></i> +1 0123456789</p>
                    <p><i class="fa fa-envelope"></i> +1 0123456789</p>
                    <p><i class="fa fa-home"></i> abc road , pune</p>
                   </div>
                    <div class="col-md-3">	<h4>Countact us </h4>
                        <p><i class="fa fa-facebook-official"></i> Facebook</p>
                        <p><i class="fa fa-youtube-play"></i> YouTube</p>
                        <p><i class="fa fa-twitter"></i> Twitter</p>
                    </div>
                </div><hr>
                </div>
                </section>
                 <script>
                    function reserveHostel(e)
                    {
                    var id = e.target.id;
                    console.log(id);
                    const em = "email_"+id.toString();
                    const email = document.getElementById(em);
                    console.log(email.innerHTML);
                    window.location.href = "/student/"+email.innerHTML;
                    }
                </script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            <!-- <script src="D:\myproject\nodeapp\routes\search.js"> </script> -->
</body>
</html>